{% extends "bootstrap/base.html" %}
{% block title %}两寸土-笑话集-Page Not Found{% endblock %}
{% block metas%}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="笑话,爆笑笑话,幽默笑话,笑话大全,爆笑短信,xiaohua,冷笑话,短信笑话,小笑话集锦,笑话短信,经典笑话,冷笑话大全,短笑话,搞笑短信,笑话吧,搞笑笑话" />
	<meta name="description" content="笑话网提供各种笑话,有经典笑话,幽默笑话,爆笑笑话,冷笑话,小笑话集锦,笑话大全,短信笑话,短笑话,爆笑短信,笑话短信,笑话故事,搞笑笑话,笑话吧,笑话大全乐翻天,开心每一天!" />
{% endblock %}
{% block head %}
	{{super()}}
	<link rel="stylesheet"
		  href="{{url_for('.static', filename='css/main.css')}}">
	{% include 'baidu_tongji.html' %}
	{% include 'google_ad.html' %}
{% endblock %}

{% block navbar %}
<div class="weixin_logo">
<img src="/images/logo.jpg" width='480'>
</div>
{% include 'nav.html' %}
{% endblock %}

{% block content %}

<div class="bs-joke-main container">   
	
<h1>Page Not Found</h1>
  <p>What you were looking for is just not there.
  <p><a href="{{ url_for('hot') }}">go somewhere nice</a>

	
</div>
{% include 'footer.html' %}

{% endblock %}