<!DOCTYPE html>
<html>
<head>
    <title>This is an example page</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body { padding-top: 70px; }
    </style>
</head>
<body>

<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">两寸土笑话集</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">最新 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">最热</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">分类 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</div>

<ol class="breadcrumb">
    <li><a href="#">首页</a></li>
    <li><a href="#">最新</a></li>
    <li class="active">Data</li>
</ol>

<div class="container">
    <!-- <h3 class="text-center">两寸土笑话集</h3> -->
    <div class="list-group">
        <a href="#" class="list-group-item">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="list-group-item-text">标题</span>
            <span>[2016-08-02]</span>
        </a>
        <a href="#" class="list-group-item">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <span class="list-group-item-text">标题</span>
            <span class="label label-info">[分类]</span>
            <span class="label label-info">2016-08-02</span>
        </a>

        <a href="#" class="list-group-item">

            <span class="list-group-item-text">标题</span>
            <span class="label label-info">[分类]</span>
            <span class="label label-info">2016-08-02</span>
            <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
        </a>

        <a href="#" class="list-group-item">

            <span class="list-group-item-text">标题</span>
            <span class="label label-info">[分类]</span>
            <span class="label label-info">2016-08-02</span>
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>

        </a>
        <a href="#" class="list-group-item">

            <span class="list-group-item-text">标题</span>
            <span class="label label-info">[分类]</span>
            <span class="label label-info">2016-08-02</span>
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>

        </a>

        <div class="row">
            <a href="#" class="list-group-item">
                <span class="list-group-item-text span3">标题标题标题标题</span>
                <span class="label label-info span3">[分类]</span>
                <span class="label label-info span3">2016-08-02</span>
                <span class="glyphicon glyphicon-menu-right span3" aria-hidden="true"></span>

            </a>
        </div>
        <a href="#" class="list-group-item">

            <span class="list-group-item-text">标题标题标题标题</span>
            <span class="label label-info">[分类]</span>
            <span class="label label-info">2016-08-02</span>
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>

        </a>
        <a href="#" class="list-group-item">

            <span class="list-group-item-text">标题标题标题标题</span>
            <span class="label label-info">[分类]</span>
            <span class="label label-info">2016-08-02</span>
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>

        </a>
        <a href="#" class="list-group-item">

            <span class="list-group-item-text">标题标题标题标题</span>
            <span class="label label-info">[分类]</span>
            <span class="label label-info">2016-08-02</span>
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>

        </a>
        <a href="#" class="list-group-item">

            <span class="list-group-item-text">标题标题标题标题</span>
            <span class="label label-info">[分类]</span>
            <span class="label label-info">2016-08-02</span>
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>

        </a>
        <a href="#" class="list-group-item">

            <span class="list-group-item-text">标题标题标题标题</span>
            <span class="label label-info">[分类]</span>
            <span class="label label-info">2016-08-02</span>
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>

        </a>
        <a href="#" class="list-group-item">

            <span class="list-group-item-text">标题标题标题标题</span>
            <span class="label label-info">[分类]</span>
            <span class="label label-info">2016-08-02</span>
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>

        </a>
        <a href="#" class="list-group-item">

            <span class="list-group-item-text">标题标题标题标题</span>
            <span class="label label-info">[分类]</span>
            <span class="label label-info">2016-08-02</span>
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>

        </a>
        <a href="#" class="list-group-item">

            <span class="list-group-item-text">标题标题标题标题</span>
            <span class="label label-info">[分类]</span>
            <span class="label label-info">2016-08-02</span>
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>

        </a>
        <a href="#" class="list-group-item">

            <span class="list-group-item-text">标题标题标题标题</span>
            <span class="label label-info">[分类]</span>
            <span class="label label-info">2016-08-02</span>
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>

        </a>
        <a href="#" class="list-group-item">

            <span class="list-group-item-text">标题标题标题标题</span>
            <span class="label label-info">[分类]</span>
            <span class="label label-info">2016-08-02</span>
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>

        </a>
        <a href="#" class="list-group-item">

            <span class="list-group-item-text">标题标题标题标题</span>
            <span class="label label-info">[分类]</span>
            <span class="label label-info">2016-08-02</span>
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>

        </a>
        <a href="#" class="list-group-item">

            <span class="list-group-item-text">标题标题标题标题</span>
            <span class="label label-info">[分类]</span>
            <span class="label label-info">2016-08-02</span>
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>

        </a>
        <a href="#" class="list-group-item">

            <span class="list-group-item-text">标题标题标题标题</span>
            <span class="label label-info">[分类]</span>
            <span class="label label-info">2016-08-02</span>
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>

        </a>
        <a href="#" class="list-group-item">

            <span class="list-group-item-text">标题标题标题标题</span>
            <span class="label label-info">[分类]</span>
            <span class="label label-info">2016-08-02</span>
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>

        </a>
        <a href="#" class="list-group-item">

            <span class="list-group-item-text">标题标题标题标题</span>
            <span class="label label-info">[分类]</span>
            <span class="label label-info">2016-08-02</span>
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>

        </a>
        <a href="#" class="list-group-item">

            <span class="list-group-item-text">标题标题标题标题</span>
            <span class="label label-info">[分类]</span>
            <span class="label label-info">2016-08-02</span>
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>

        </a>
    </div>


    <ul class="pagination pagination-sm">

        <li class="disabled"><a>首页</a></li>
        <li class="disabled"><a>&lt;</a></li>


        <li class="active">
            <a href="/?query=&amp;p=1">1</a>
        </li>

        <li class="">
            <a href="/?query=&amp;p=2">2</a>
        </li>


        <li><a href="/?query=&amp;p=2">&gt;</a></li>
        <li><a href="/?query=&amp;p=2">尾页</a></li>

    </ul>

    <u class="list-unstyled">
        <li>标题1 <span class="label label-info">[分类]</span> 2016-08-02</li>
        <li>标题2</li>
        <li>标题3</li>
        <li>标题4</li>
        <li>标题5</li>
    </u>


</div>


<script src="../static/js/jquery-2.1.1.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
</body>
</html>
