{% extends "bootstrap/base.html" %}
{% block title %}两寸土笑话集{% endblock %}
{% block head %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/main.css')}}">
{% include 'baidu_tongji.html' %}
{% endblock %}

{% block navbar %}
<div style='margin:0 auto;width:0px;height:0px;overflow:hidden;'>
<img src="/static/images/logo.jpg" width='480'>
</div>

{% include 'nav.html' %}

{% endblock %}

{% block content %}
<div class="container">   
	<ol class="breadcrumb">
		<li><a href="/">首页</a></li>
		<li><a href="/"></a></li>
	</ol>
	<div class="list-group">
	{% for j in jokes %}
		<a target="_self" href="http://joke.liangcuntu.com/detail/{{j['id']}}" class="list-group-item">
			<span class="list-group-item-text">{{j['title']}}</span>
			<span>[{{j['created_at'].replace(' 00:00:00','')}}]</span>
			<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
		</a>
	{% endfor %}
	</div> 


	{% import "blocks.html" as blocks %}
	{{blocks.pager('/?query='+query, p.total, p.limit, p.page)}}

</div>
{% endblock %}