{% extends "bootstrap/base.html" %}
{% block title %}两寸土-笑话集{% endblock %}
{% block metas%}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="笑话,爆笑笑话,幽默笑话,笑话大全,爆笑短信,xiaohua,冷笑话,短信笑话,小笑话集锦,笑话短信,经典笑话,冷笑话大全,短笑话,搞笑短信,笑话吧,搞笑笑话" />
	<meta name="description" content="笑话网提供各种笑话,有经典笑话,幽默笑话,爆笑笑话,冷笑话,小笑话集锦,笑话大全,短信笑话,短笑话,爆笑短信,笑话短信,笑话故事,搞笑笑话,笑话吧,笑话大全乐翻天,开心每一天!" />
{% endblock %}

{% block head %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/main.css')}}">
{% include 'baidu_tongji.html' %}
{% include 'google_ad.html' %}
{% endblock %}

{% block navbar %}
<div style='margin:0 auto;width:0px;height:0px;overflow:hidden;'>
<img src="/static/images/logo.jpg" width='480'>
</div>

{% include 'nav.html' %}

{% endblock %}

{% block content %}
<div class="bs-joke-main container">   
	{% include 'breadcrumbs.html' %}

	<div class="list-group">
	{% for j in jokes %}
		<a target="_self" href="{{host}}/detail/{{j['id']}}" class="list-group-item">
			<span class="list-group-item-text">{{j['title']}}</span>
			{% if menu=="hot" %}
			<span>({{j['view_count']}})</span>
			{% elif(menu == "latest")%}
			<span>[{{j['created_at'].replace(' 00:00:00','')}}]</span>
			{% endif%}
			<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
		</a>
	{% endfor %}
	</div> 


	{% import "blocks.html" as blocks %}
	{{blocks.pager(host+path+args, p.total, p.limit, p.page)}}

</div>
{% include 'footer.html' %}

{% endblock %}